/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.body {
  margin: 0;
  font-family: "Open sans", "sans-serif";
  color: rgb(85, 85, 85);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  --webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.section--hero {
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .section--hero {
    background-image: url(../images/phone/hero_phone.jpg);
    padding-top: 208px;
    padding-bottom: 183px;
    max-width: 767px;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2ddpx) {
  .section--hero {
    background-image: url(../images/phone/hero_phone-2x.jpg);
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .container--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button--close {
  position: absolute;
  top: 45px;
  right: 30px;
}

.menu-button-icon {
  width: 40px;
  height: 40px;
  fill: rgb(255, 255, 255);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button-icon--close {
  fill: rgb(48, 48, 48);
}
.menu-button-icon:hover, .menu-button-icon:focus {
  fill: rgb(255, 108, 0);
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 337px;
  height: 100vh;
  padding-top: 115px;
  padding-left: 40px;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgb(255, 255, 255);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu-nav {
  margin-bottom: 64px;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: rgb(48, 48, 48);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: rgb(255, 108, 0);
}
.menu-nav__link--social {
  display: block;
  padding: 12px 0;
  font-size: 14px;
  letter-spacing: 0.2em;
}

.menu-nav-contacts {
  margin-bottom: 52px;
}

.menu-nav-contacts__item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-social-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-social-list__item::before {
  content: "";
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background-color: transparent;
}
.menu-social-list__item:first-child::before {
  background-color: rgb(48, 48, 48);
}

.section-title {
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: rgb(48, 48, 48);
}
@media screen and (max-width: 479px) {
  .section-title {
    font-size: 9.6vw;
  }
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 42px;
  }
}

.hero__title {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 479px) {
  .hero__title {
    font-size: 10vw;
  }
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
  }
}

.prices__title {
  color: rgb(255, 255, 255);
  margin-bottom: 44px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: rgb(48, 48, 48);
  background-color: #ffffff;
}
.social-list__link:hover, .social-list__link:focus {
  color: rgb(255, 108, 0);
}

.social-list__icon {
  fill: currentcolor;
}

.btn {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 160px;
  min-height: 40px;
  padding: 5px;
  border: 1px solid rgb(255, 108, 0);
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  font-family: "open sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.btn:hover, .btn:focus {
  background-color: rgb(255, 108, 0);
}
.btn--white {
  color: rgb(255, 255, 255);
}
.btn--dark {
  color: rgb(48, 48, 48);
}
.btn--dark:hover, .btn--dark:focus {
  color: rgb(255, 255, 255);
}
.btn--mob-menu {
  min-width: 194px;
}
.btn--modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 30px;
  min-height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.btn--modal-close:hover, .btn--modal-close:focus {
  background-color: transparent;
  color: rgb(255, 108, 0);
  border-color: rgb(255, 108, 0);
}

.pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(48, 48, 48);
}
.pre-title::before {
  content: "";
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: rgb(48, 48, 48);
}
.pre-title--grey {
  color: rgba(157, 164, 189, 0.6);
}
.pre-title--grey::before {
  content: "";
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.hero__pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.hero__pre-title::before {
  content: "";
  margin-right: 21px;
  width: 63px;
  height: 1px;
}

.after-title {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
}
.after-title--grey {
  color: rgb(157, 164, 189);
}

.hero__after-title {
  max-width: 400px;
}

.logo {
  display: block;
  width: 66px;
  height: 55px;
}
@media screen and (max-width: 767px) {
  .logo {
    width: 69px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-address-section {
    background-color: rgb(25, 28, 38);
  }
}

@media screen and (min-width: 1200px) {
  .sign-address-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
}

.section--sign {
  background-color: rgb(25, 28, 38);
}

@media screen and (min-width: 1200px) {
  .container--sign {
    width: 600px;
    padding-right: 40px;
  }
}

.sign__title {
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}

.footer-form-sign {
  margin-top: 44px;
}
@media screen and (min-width: 768px) {
  .footer-form-sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.form-sign__form-field {
  position: relative;
  margin-bottom: 44px;
}
.form-sign__form-field + .form-sign__form-field {
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-sign__form-field {
    width: 330px;
  }
}

.form-sign__label {
  position: absolute;
  top: 0;
  left: 5px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(157, 164, 189, 0.4);
}
.form-sign__input:focus + .form-sign__label {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  color: rgb(255, 255, 255);
}
.form-sign__input:not(:-moz-placeholder-shown) + .form-sign__label {
  transform: translateY(-120%);
}
.form-sign__input:not(:-ms-input-placeholder) + .form-sign__label {
  transform: translateY(-120%);
}
.form-sign__input:not(:placeholder-shown) + .form-sign__label {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.form-sign__input {
  height: 30px;
  display: block;
  border-radius: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding: 5px 3px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .form-sign__input {
    width: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .form-sign__input--tel {
    width: 260px;
  }
}
.form-sign__input::-webkit-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.form-sign__input::-moz-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.form-sign__input:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.form-sign__input::-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.form-sign__input::placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.form-sign__input:focus {
  border-color: rgb(255, 255, 255);
}

.form-sign__textarea {
  resize: none;
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  border-radius: 0;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(255, 255, 255);
  background-color: transparent;
}
.form-sign__textarea::-webkit-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.form-sign__textarea::-moz-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.form-sign__textarea:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.form-sign__textarea::-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.form-sign__textarea::placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.form-sign__textarea:focus {
  border-color: rgb(255, 255, 255);
}

.modal__backdrop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity 400ms linear, visibility 400ms linear;
  transition: opacity 400ms linear, visibility 400ms linear;
  overflow-y: scroll;
}
.modal__backdrop.shown {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}
@media screen and (max-width: 767px) {
  .modal__backdrop {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.modal__modal {
  -webkit-transition: -webkit-transform 400ms linear;
  transition: -webkit-transform 400ms linear;
  transition: transform 400ms linear;
  transition: transform 400ms linear, -webkit-transform 400ms linear;
  border-radius: 4px;
  padding: 40px;
  width: 100%;
  min-height: 609px;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  text-align: center;
  background-color: #ffffff;
}
@media screen and (min-width: 480px) {
  .modal__modal {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%);
    min-height: 581px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__modal {
    width: 528px;
    min-height: 581px;
  }
}
@media screen and (max-width: 767px) {
  .modal__backdrop.shown .modal__modal {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@media screen and (min-width: 768px) {
  .modal__backdrop.shown .modal__modal {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.modal__button-close-icon {
  fill: currentcolor;
}

.form-modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}
@media screen and (max-width: 480px) {
  .form-modal__title {
    font-size: 4.2vw;
  }
}

.form-modal__form-field {
  display: block;
  margin-bottom: 10px;
}

.form-field__label {
  display: block;
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.form-field__wrapp {
  display: block;
  position: relative;
}

.form-field__input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 1px solid transparent;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 10px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  font-size: 16px;
}
.form-field__input:focus, .form-field__input:hover {
  border: 1px solid rgb(255, 108, 0);
}

.form-field__icon {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  -webkit-transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: rgb(33, 33, 33);
}
.form-field__input:hover + .form-field__icon, .form-field__input:focus + .form-field__icon {
  stroke: rgb(255, 108, 0);
}

.form-modal__form-comment {
  display: block;
  margin-bottom: 20px;
}

.form-comment__area {
  resize: none;
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment__area::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__area::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__area:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__area::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__area:focus, .form-comment__area:hover {
  border: 1px solid rgb(255, 108, 0);
}

@media screen and (min-width: 768px) {
  .container--hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .hero-social {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-social {
    width: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 23px;
    padding-bottom: 40px;
    background-color: #ffffff;
  }
}

.hero-social__list {
  -webkit-transform: rotate(-90deg) translate(-15px);
          transform: rotate(-90deg) translate(-15px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-social__list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: rgb(48, 48, 48);
}

.hero-social__item:not(:last-child) {
  margin-right: 40px;
}

.hero-social__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(48, 48, 48);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36x;
  letter-spacing: 0.2em;
}
.hero-social__link:hover, .hero-social__link:focus {
  color: rgb(255, 108, 0);
}

@media screen and (min-width: 768px) {
  .hero {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 70px;
    padding-top: 280px;
    padding-bottom: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/tablet/hero_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2ddpx) {
  .hero {
    background-image: url(../images/tablet/hero_tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2ddpx) {
  .hero {
    background-image: url(../images/hero-2x.jpg);
  }
}

.hero__after-title {
  max-width: 400px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .hero__after-title {
    max-width: 306px;
  }
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__logo {
    fill: rgb(255, 255, 255);
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    fill: rgb(48, 48, 48);
    margin-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__item:not(:last-child) {
    margin-right: 40px;
  }
}

.nav__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
}
.nav__link:hover, .nav__link:focus {
  color: rgb(255, 108, 0);
}

.nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .nav-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 40px;
    margin-right: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-contacts {
    margin-right: 4px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts__item:last-child {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-contacts__item:first-child {
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container--about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .about-wrapp {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .about-photo-wrapp {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about-photo-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-photo__item:first-child {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-photo__item:first-child {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-text-wrapp {
    padding-left: 50px;
  }
}

.about__pre-title {
  margin-bottom: 20px;
}

.about__title {
  margin-bottom: 20px;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 42px;
  }
}

.about__after-title {
  margin-bottom: 20px;
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .about__after-title {
    font-size: 18px;
  }
}

.about__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.section--prices {
  margin: 0 auto;
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(157, 164, 189);
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 479px) {
  .section--prices {
    background-image: url("../images/phone/prices_bg_phone.png");
    max-width: 480px;
  }
}
@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2ddpx) {
  .section--prices {
    background-image: url("../images/phone/prices_bg_phone-2x.png");
  }
}
@media screen and (min-width: 480px) {
  .section--prices {
    font-size: 16px;
    background-image: url("../images/tablet/prices_bg_tablet.png");
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2ddpx) {
  .section--prices {
    background-image: url("../images/tablet/prices_bg_tablet-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .section--prices {
    font-size: 18px;
    background-image: url("../images/prices_bg.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2ddpx) {
  .section--prices {
    background-image: url("../images/prices_bg-2x.png");
  }
}

.prices__pre-title {
  margin-bottom: 20px;
}

.prices__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1199px) {
  .prices__wrapp {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .prices__wrapp {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .prices-list-phone {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .prices-list-desktop {
    display: none;
  }
}

.prices-list {
  padding: 5px;
}
@media screen and (min-width: 480px) {
  .prices-list {
    padding: 30px;
  }
}
@media screen and (min-width: 768px) {
  .prices-list {
    width: 100%;
    padding: 30px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .prices-list {
    width: 50%;
    padding: 30px 40px;
  }
}
.prices-list--light {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(to bottom, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list--dark {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(to bottom, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prices-list__item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-list__item::before {
  content: "";
  margin: 0 6px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-list__name {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.prices__btn {
  display: block;
  margin: 0 auto;
}

.container--reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .container--reasons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .reasons__wrapp {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .reasons__wrapp--right {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reasons__wrapp--right {
    width: 480px;
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .reasons__wrapp--right {
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reasons-wrapp--left {
    width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .reasons-wrapp--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reasons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .reasons__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .reasons__list {
    width: 370px;
  }
}

.reasons__item {
  height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
}
@media screen and (max-width: 479px) {
  .reasons__item {
    width: 35vw;
    height: 28vw;
    padding: 4.1vw;
  }
}
@media screen and (min-width: 480px) {
  .reasons__item {
    width: 193px;
  }
}
@media screen and (min-width: 768px) {
  .reasons__item {
    width: 210px;
    padding: 20px 44px;
  }
}
@media screen and (min-width: 768px) {
  .reasons__item {
    width: 170px;
    padding: 20px 24px;
  }
}
.reasons__item:nth-child(odd) {
  margin-right: 30px;
}
.reasons__item:nth-child(even) {
  margin-top: 30px;
}

.reasons__number {
  margin-bottom: 6px;
  color: rgb(48, 48, 48);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 479px) {
  .reasons__number {
    font-size: 8.7vw;
  }
}
.reasons__number::after {
  vertical-align: top;
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: rgb(255, 108, 0);
}

.reasons__number-description {
  color: rgb(48, 48, 48);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
@media screen and (max-width: 479px) {
  .reasons__number-description {
    font-size: 2.3vw;
  }
}

.reasons__pre-title {
  margin-bottom: 20px;
}

.reasons__title {
  margin-bottom: 20px;
}

.reasons__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .reasons__after-title {
    width: 500px;
  }
}

.section--masters {
  background-color: rgb(247, 247, 247);
  color: rgb(48, 48, 48);
}

.masters__pre-title {
  margin-bottom: 20px;
}

.masters__title {
  margin-bottom: 44px;
}

.masters__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .masters__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .masters__item:not(:last-child) {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .masters__item {
    margin: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .masters__photo {
    margin: 0 auto;
  }
}

.masters__card-content {
  padding-top: 30px;
}

.masters__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}

.masters__position {
  margin-bottom: 30px;
  color: rgb(255, 108, 0);
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
}

.gallery__title {
  margin-bottom: 44px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.gallery__item {
  margin: 15px;
}
@media screen and (max-width: 767px) {
  .gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section--contacts {
  background-color: rgb(25, 28, 38);
  color: rgb(157, 164, 189);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 479px) {
  .section--contacts {
    background-image: url("../images/phone/contacts_bg_phone.png");
  }
}
@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2ddpx) {
  .section--contacts {
    background-image: url("../images/phone/contacts_bg_phone-2x.png");
  }
}
@media screen and (min-width: 480px) {
  .section--contacts {
    background-image: url("../images/tablet/contacts_bg_tablet.png");
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2ddpx) {
  .section--contacts {
    background-image: url("../images/tablet/contacts_bg_tablet-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .section--contacts {
    background-image: url("../images/contacts_bg.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2ddpx) {
  .section--contacts {
    background-image: url("../images/contacts_bg-2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .section--contacts {
    width: 625px;
  }
}

@media screen and (min-width: 1200px) {
  .container--contacts {
    width: 600px;
    padding-left: 100px;
  }
}

.contacts__title {
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contacts-part {
    width: 50%;
  }
}

.address {
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 70px;
  }
}

.address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address__link:first-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.address__link:last-child {
  text-decoration: underline;
}
.address__link:not(:last-child) {
  margin-bottom: 20px;
}
.address__link:hover, .address__link:focus {
  color: rgb(255, 108, 0);
}

.address__map {
  display: inline-block;
}

.address__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 16px;
  fill: currentcolor;
  stroke: currentColor;
}

.work-time__text {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .page-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.page-footer__copyright {
  color: rgb(157, 164, 189);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.page-footer__copyright-icon {
  margin-right: 6px;
}

.page-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .page-footer__list {
    margin-bottom: 20px;
  }
}
.page-footer__list::before {
  content: "";
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background-color: rgb(48, 48, 48);
}

.page-footer__item:not(:last-child) {
  margin-right: 40px;
}

.page-footer__link {
  padding: 20px 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(48, 48, 48);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.page-footer__link:hover, .page-footer__link:focus {
  color: rgb(255, 108, 0);
}/*# sourceMappingURL=main.css.map */