.container--about {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about-wrapp {
  @media screen and (min-width: 1200px) {
    width: calc(100% / 2);
  }
}

.about-photo-wrapp {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-shrink: 0;
  }
}

.about-photo__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:first-child {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-right: 30px;
    }
  }
}

.about-text-wrapp {
  @media screen and (min-width: 768px) {
    padding-left: 50px;
  }
}

.about__pre-title {
  margin-bottom: 20px;
}

.about__title {
  margin-bottom: 20px;
  font-size: 28px;
  @media screen and (min-width: 1200px) {
    font-size: 42px;
  }
}

.about__after-title {
  margin-bottom: 20px;
  font-size: 16px;
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.about__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
