.container--hero {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hero-social {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 93px;
    display: flex;
    align-items: flex-end;
    padding-left: 23px;
    padding-bottom: 40px;
    background-color: $primary-bgcolor;
  }
}

.hero-social__list {
  transform: rotate(-90deg) translate(-15px);
  transform-origin: top left;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: $secondary-text-color;
  }
}

.hero-social__item:not(:last-child) {
  margin-right: 40px;
}

.hero-social__link {
  transition: color $transition-duration $timing-function;

  color: $secondary-text-color;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36x;
  letter-spacing: 0.2em;

  &:hover,
  &:focus {
    color: $active-color;
  }
}

.hero {
  @media screen and (min-width: 768px) {
    flex-grow: 1;
    padding-left: 70px;
    padding-top: 280px;
    padding-bottom: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/tablet/hero_tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2ddpx) {
      background-image: url(../images/tablet/hero_tablet-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/hero.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2ddpx) {
      background-image: url(../images/hero-2x.jpg);
    }
  }
}

.hero__after-title {
  max-width: 400px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    max-width: 306px;
  }
}
