.contacts {
  // flex-grow: 1;
  // padding-left: 100px;
  // padding-right: 80px;
  // background-repeat: no-repeat;
  // background-size: cover;

  // color: $contacts-text-color;
  // font-size: 18px;
  // line-height: 1.67;
  // letter-spacing: 0.02em;

  // @media screen and (max-width: 767px) {
  //   background-image: url("../images/phone/contacts_bg_phone.png");

  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2ddpx) {
  //     background-image: url("../images/phone/contacts_bg_phone-2x.png");
  //   }
  // }

  // @media screen and (min-width: 768px) {
  //   background-image: url("../images/tablet/contacts_bg_tablet.png");
  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2ddpx) {
  //     background-image: url("../images/tablet/contacts_bg_tablet-2x.png");
  //   }
  // }

  // @media screen and (min-width: 1200px) {
  //   background-image: url("../images/contacts_bg.png");
  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2ddpx) {
  //     background-image: url("../images/contacts_bg-2x.png");
  //   }
  // }
}

.address__title {
  margin-bottom: 40px;

  color: $white-color;
}

.address {
  font-style: normal;
}

.address__link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  transition: color $transition-duration $timing-function;

  color: inherit;

  &:last-child {
    margin-bottom: 70px;
  }

  &:hover,
  &:focus {
    color: $active-color;
  }
}

.address__icon {
  margin-right: 16px;
  fill: currentcolor;
  stroke: currentColor;
}

.address__work-time {
  margin-bottom: 20px;

  color: $white-color;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
