.btn {
  transition: background-color $transition-duration $timing-function,
    color $transition-duration $timing-function, border-color $transition-duration $timing-function;

  min-width: 160px;
  min-height: 40px;
  padding: 5px;
  border: 1px solid $active-color;
  border-radius: 25px;
  cursor: pointer;

  background-color: transparent;
  font-family: "open sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $active-color;
  }

  &--white {
    color: $white-color;
  }

  &--dark {
    color: $secondary-text-color;
    &:hover,
    &:focus {
      color: $white-color;
    }
  }

  &--mob-menu {
    min-width: 194px;
  }

  &--modal-close {
    display: flex;
      align-items: center;
      justify-content: center;
      min-width: 30px;
      min-height: 30px;
      position: absolute;
      top: 8px;
      right: 8px;
      margin: 0;
      padding: 0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
    
      color: rgba(0, 0, 0, 1);
      background-color: transparent;
    
      &:hover,
      &:focus {
        background-color: transparent;
        color: $active-color;
        border-color: $active-color;
      }
    }
  }
