// Цвет ccылок header и остальной белый - rgba(255, 255, 255, 1)
// Цвет активных ссылок/кнопок - rgba(255, 108, 0, 1)
// Основной цвет текста - rgba(85, 85, 85, 1)
// Вторичный цвет текста - rgba(48, 48, 48, 1)
// Цвет текста для цен - rgba(157, 164, 189, 1)
// Белый фон - #ffffff
// Цвет текста для Контактов - rgba(157, 164, 189, 1)

$white-color: rgba(255, 255, 255, 1);
$active-color: rgba(255, 108, 0, 1);
$primary-text-color: rgba(85, 85, 85, 1);
$secondary-text-color: rgba(48, 48, 48, 1);
$prices-text-color: rgba(157, 164, 189, 1);
$primary-bgcolor: #ffffff;
$contacts-text-color: rgba(157, 164, 189, 1);

$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
